<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
    <link rel="stylesheet" href="/static/bootstrap-3.3.7-dist/css/bootstrap.css">
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.js "></script>
    <script src="/static/jquery.cookie.js"></script>
    <script src="/static/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    {% load tagsb %}
</head>
<body>
<div class="container">
    <div class="col-lg-offset-1 col-lg-10">
        <a href="/new_questionnaire/"><button class="btn btn-success">添加</button></a>
        <table class="table table-bordered .table-striped">
            <thead>
            <tr>
                <td>调查问卷名称</td>
                <td>调查班级</td>
                <td>参与人数</td>
                <td>调查地址</td>
                <td>查看评分</td>
                <td>操作</td>
            </tr>
            </thead>
            <tbody>
            {% for i in questionnaire %}
                <tr>
                    <td><a href="">{{ i.title }}</a></td>
                    <td>{{ i.cls.title }}</td>
                    <td>{{ i.answer_set.all|my_count}}/{{ i.cls.student_set.count }}</td>
                    <td><a href="/student/questionnaire/{{ i.id }}/{{ i.cls.id }}/">/student/evalute/{{ i.id }}/{{ i.cls.id }}/</a></td>
                    <td><a href="">查看评分</a></td>
                    <td><a href="{% url "edit_naire" naire_id=i.id %}"><button class="btn btn-success">编辑</button></a> <button class="btn btn-danger">删除</button></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</body>
</html>