<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/bootstrap-3.3.7-dist/css/bootstrap.css">
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.js "></script>
    <script src="/static/jquery.cookie.js"></script>
    <script src="/static/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
</head>
<body>
<div class="container">
    <div></div>
    <div class="col-lg-offset-1 col-lg-10">
        <table class="table table-striped">
            <thead>
            <tr>
                <th><h2>新建调查问卷</h2></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <div class="form-group">
                        <label for="title" class="col-sm-2 control-label">标题</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="title" placeholder="title">
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="cls" class="col-sm-2 control-label">调查班级</label>
                    <div class="row">
                        <div class="col-sm-4">
                            <select name="cls" id="cls" class="form-control">
                                {% for class in class_list %}
                                    <option value="{{ class.id }}">{{ class.title }}</option>
                                {% endfor %}
                            </select>
                        </div>
                       <button class="btn-success btn sub_btn col-lg-3" >提交</button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<script>
    $(".sub_btn").click(function () {
        $.ajax({
            url:"new_questionnaire",
            type:"POST",
            headers:{"X-CSRFToken":$.cookie('csrftoken')},
            data:{
                "title":$("#title").val(),
                "cls":$("#cls").val()
            },
            success:function () {
                location.href="/index/"
            }
        })
    })
</script>
</body>
</html>